<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
    <main>
        <h1>Cadastro</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'cadastro' %}">
            {% csrf_token %}
            <label for="username">Apelido</label>
            <input type="text" id="username" name="username" required>

            <label for="name">Nome</label>
            <input type="text" id="name" name="name" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>

            <label for="tipo_usuario">Tipo de Usuário</label>
            <select id="tipo_usuario" name="tipo_usuario" required>
                <option value="DESCARTADOR">Descartador</option>
                <option value="CATADOR">Catador</option>
            </select>

            <button type="submit">Cadastrar</button>
        </form>
    </main>
</body>
</html>
