<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Descartador</title>
    <link rel="stylesheet" href="../static/css/homeusu2.css">
</head>

<body>
    <header>
        <nav>
            <ul id="navbar" class="navbar">
                <li><a href="#section1">Home</a></li>
                <li><a href="#section2">Informações</a></li>
                <li><a href="#section3">Parceiros</a></li>
                <li><a href="#section4">Dicas</a></li>
                <li><button class="botao-sair" type="button" onclick="sair()">Sair</button></li>
                <li><button class="botao-perfil" type="button" onclick="perfil()">Perfil</button></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <section class="section1" id="section1">
            <div class="section1-text">
                <h1 class="animation1">Meus prêmios</h1>
                <p class="animation1">No EcoBag, você pode descartar materiais recicláveis de forma simples e prática,
                    ganhando pontos que
                    podem ser trocados por prêmios. Junte-se a nós para um futuro mais sustentável e aproveite as
                    recompensas por suas boas ações!</p>

                <button class="animation1" onclick="openModal()">Ver Prêmios</button>

                <div class="modal-container">
                    <div class="modal">
                        <div class="modal-titulo">
                            <h2>Prêmios Disponíveis</h2>
                        </div>

                        <div class="premio-box">
                            <form action="{% url 'trocar_pontos' %}" method="post">
                                <div class="premio-box-icon">
                                    <img src="../static/images/geracao.jpeg" alt="10% OFF - Materiais Escolares Geração"
                                        style="width: 45px; height: 45px; border-radius: 100%;">
                                </div>
                                <div class="premio-box-desc">Kit Material Escolar - Geração</div>
                                <div class="premio-box-pontuacao">150</div>
                                <div class="premio-box-botao">
                                    {% csrf_token %}
                                    <input type="hidden" name="acao" value="geracao">
                                    <button id="botao-meta" type="submit">
                                        <img src="../static/images/mais.png" alt="">Trocar pontos
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="premio-box">
                            <form action="{% url 'trocar_pontos' %}" method="post">
                                <div class="premio-box-icon">
                                    <img src="../static/images/geracao.jpeg" alt="1 Mês GRÁTIS - Fisk Idiomas"
                                        style="width: 45px; height: 45px; border-radius: 100%;">
                                </div>
                                <div class="premio-box-desc">10% Off - Geração</div>
                                <div class="premio-box-pontuacao">200</div>
                                <div class="premio-box-botao">
                                    {% csrf_token %}
                                    <input type="hidden" name="acao" value="fisk">
                                    <button id="botao-meta" type="submit">
                                        <img src="../static/images/mais.png" alt="">Trocar pontos
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="premio-box">
                            <form action="{% url 'trocar_pontos' %}" method="post">
                                <div class="premio-box-icon">
                                    <img src="../static/images/geracao.jpeg" alt="Café Camélia Casa das FLores"
                                        style="width: 45px; height: 45px; border-radius: 100%;">
                                </div>
                                <div class="premio-box-desc">Kit Canetas - Geração</div>
                                <div class="premio-box-pontuacao">50</div>
                                <div class="premio-box-botao">
                                    {% csrf_token %}
                                    <input type="hidden" name="acao" value="camelia">
                                    <button id="botao-meta" type="submit">
                                        <img src="../static/images/mais.png" alt="">Trocar pontos
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="mensagem">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                    {% endfor %}
                            </ul>
                            {% endif %}
                        </div>



                        <div class="btns">
                            <button class="btnOK" id="botao-modal" onclick="closeModal()">Ok</button>
                            <button class="btnClose" id="botao-modal" onclick="closeModal()">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section1-icon">
                <img src="../static/images/caixa-de-presente.png" alt="">
            </div>

        </section>

        <section class="section2" id="section2">
            <div class="section2-parte1">
                <div class="section2-box1">
                    <h2>O que acontece com os materiais descartados?</h2>
                    <p>Os resíduos recicláveis descartados são encaminhados para cooperativas de catadores e passam por
                        um processo de seleção, que tem por objetivo separar o lixo de acordo com suas características e
                        identificar os produtos que estão em condições de serem reciclados. Feita essa seleção, os
                        materiais são vendidos para a indústria como matéria-prima.</p>
                </div>
            </div>

            <div class="section2-parte2">
                <div class="section2-box2" id="section2-box2">
                    <h2>Quais materiais posso descartar?</h2>
                    <div class="box-materiais">
                        <img src="../static/images/plastico.png" alt="">
                        <img src="../static/images/papel.png" alt="">
                        <img src="../static/images/papelao.png" alt="">
                        <img src="../static/images/vidro.png" alt="">
                        <img src="../static/images/metal.png" alt="">
                        <img src="../static/images/madeira.png" alt="">
                    </div>
                </div>
            </div>

            <div class="section2-parte3">
                <div class="section2-box3" id="section2-box3">
                    <div class="section2-box3-parte1">
                        <h2>Horários da coleta seletiva</h2>
                        <div class="horarios-botao">
                            <div class="icone-calendario"><img src="../static/images/icons8-calendário-50.png" alt="">
                            </div>
                            <div class="link-botao"><a
                                    href="https://xanxere.sc.gov.br/uploads/sites/92/2021/12/867373_roteiro.jpg"
                                    target="_blank" rel="noopener noreferrer">Clique para ver</a></div>
                        </div>
                    </div>
                    <div class="section2-box3-parte2">
                        <img src="../static/images/calendario_quadro3.png" alt="">
                    </div>
                </div>
            </div>

        </section>

        <section class="section3" id="section3">
            <h2>Apoiadores</h2>
            <div class="box-empresas">
                <div class="empresa"><img src="../static/images/logo-prefeitura.png" alt="logo prefeitura xanxerê" height="70px"></div>
                <div class="empresa"><img src="../static/images/geracao.jpeg" alt="logo geração" height="90px"></div>
                <!-- <div class="empresa"></div> -->
            </div>

        </section>

        <div class="curve"></div>

        <section class="section4" id="section4">
            <h2>Dicas de Reuso</h2>

            <div class="carousel">
                <div class="card">
                    <img src="../static/images/recycle-bin_5543488.png" alt="ícone card">
                    <div class="card-text">
                        <h3>Garrafas como vasos de plantas</h3>
                        <p>Você pode fazer das garrafas de vidro (cervejas ou vinhos), vasos para plantas naturais
                            ou artificiais para decorar seu quarto ou sala.</p>
                    </div>
                </div>

                <div class="nav-bullets">
                    <input type="radio" name="slider" id="slide1" checked>
                    <input type="radio" name="slider" id="slide2">
                    <input type="radio" name="slider" id="slide3">
                </div>
            </div>
        </section>

        <footer>
            <p>&copy; 2024 Ecobag. Todos os direitos reservados.</p>
        </footer>

    </main>
</body>

<script>
    function sair() {
        console.log('Função sair chamada');
        window.location.href = "../login";
    }

</script>

<script src="../static/js/home.js"></script>

</html>