@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    --espaço-margem: 60px 120px;
    --cor-de-fundo: #3AD5DF, #2CE392, #44D7E4;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #3AD5DF,
            #2CE392, #44D7E4);
    background-size: 400%, 400%;
    animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}